# Data Cleansing

Notebook in which cars data will be cleaned and translated from Spanish to English. This is a data preparation step before jumping into further analysis,

In [1]:
import pandas as pd
import numpy as np

In [2]:
root = '../data/used_cars.csv'

In [3]:
df = pd.read_csv(root)

df.head()

,title,price,year,kms,city,gear,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
0,Toyota Yaris Hsd 1.5 City,9.500€,2016,40.000 km,100 cv en Madrid,"Automática continua, secuencial",5 puertas,5,100 cv,Blanco,...,389 cm,170 cm,286 l,165 km/h,"3,1 l","3,3 l","3,3 l",1.025 kg,36 l,"11,8 s"
1,Mercedes Clase A A 35 Amg 4matic+ 7g-dct,43.890€,2019,24.000 km,306 cv en Salamanca,Automática secuencial,5 puertas,5,306 cv,Blanco,...,444 cm,180 cm,370 l,250 km/h,"9,3 l","6,1 l","7,3 l",1.555 kg,51 l,"4,7 s"
2,Mercedes Clase A A 250e 8g-dct,35.900€,2020,1.500 km,218 cv en Tenerife,Automática secuencial,5 puertas,5,218 cv,Gris,...,442 cm,180 cm,310 l,235 km/h,"0,0 l","0,0 l","1,4 l",1.680 kg,35 l,"6,6 s"
3,Volkswagen Polo 1.0 Tsi Sport 70kw,8.990€,2017,53.000 km,"95 cv en Palmas, Las",Manual,5 puertas,5,95 cv,Blanco,...,405 cm,175 cm,355 l,187 km/h,"5,5 l","4,0 l","4,6 l",1.145 kg,40 l,"10,8 s"
4,Dacia Sandero 1.0 Ambiance 55kw,5.990€,2018,33.600 km,"75 cv en Palmas, Las",Manual,5 puertas,5,75 cv,Blanco,...,406 cm,173 cm,320 l,0 km/h,"6,8 l","3,7 l","5,3 l",969 kg,50 l,"0,0 s"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9999 non-null   object
 1   price          9999 non-null   object
 2   year           9999 non-null   object
 3   kms            9999 non-null   object
 4   city           9999 non-null   object
 5   gear           9999 non-null   object
 6   doors          9999 non-null   object
 7   seats          9999 non-null   int64
 8   power          9999 non-null   object
 9   color          9927 non-null   object
 10  co2_emiss      9999 non-null   object
 11  fuel_type      9999 non-null   object
 12  warranty       9999 non-null   object
 13  dealer         9999 non-null   object
 14  chassis        9999 non-null   object
 15  height         9999 non-null   object
 16  length         9999 non-null   object
 17  width          9999 non-null   object
 18  trunk_vol      9999 non-null   object
 19  max_speed      9999 non-null   object
 20  urban_cons     9999 non-null   object
 21  xtrurban_cons  9999 non-null   object
 22  mixed_cons     9999 non-null   object
 23  weight         9999 non-null   object
 24  tank_vol       9999 non-null   object
 25  acceleration   9999 non-null   object
dtypes: int64(1), object(25)
memory usage: 2.0+ MB

Time to explore each of the columns and clean them

In [5]:
df['price'] = df.price.str.replace('.', '', regex=False).str.replace('€', '')
df.loc[df.year.str.len() > 4, 'year'] = df.year.str[-4:]
df['kms'] = df.kms.str.replace('.', '', regex=False).str.replace('km', '')
df.head()

,title,price,year,kms,city,gear,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
0,Toyota Yaris Hsd 1.5 City,9500,2016,40000,100 cv en Madrid,"Automática continua, secuencial",5 puertas,5,100 cv,Blanco,...,389 cm,170 cm,286 l,165 km/h,"3,1 l","3,3 l","3,3 l",1.025 kg,36 l,"11,8 s"
1,Mercedes Clase A A 35 Amg 4matic+ 7g-dct,43890,2019,24000,306 cv en Salamanca,Automática secuencial,5 puertas,5,306 cv,Blanco,...,444 cm,180 cm,370 l,250 km/h,"9,3 l","6,1 l","7,3 l",1.555 kg,51 l,"4,7 s"
2,Mercedes Clase A A 250e 8g-dct,35900,2020,1500,218 cv en Tenerife,Automática secuencial,5 puertas,5,218 cv,Gris,...,442 cm,180 cm,310 l,235 km/h,"0,0 l","0,0 l","1,4 l",1.680 kg,35 l,"6,6 s"
3,Volkswagen Polo 1.0 Tsi Sport 70kw,8990,2017,53000,"95 cv en Palmas, Las",Manual,5 puertas,5,95 cv,Blanco,...,405 cm,175 cm,355 l,187 km/h,"5,5 l","4,0 l","4,6 l",1.145 kg,40 l,"10,8 s"
4,Dacia Sandero 1.0 Ambiance 55kw,5990,2018,33600,"75 cv en Palmas, Las",Manual,5 puertas,5,75 cv,Blanco,...,406 cm,173 cm,320 l,0 km/h,"6,8 l","3,7 l","5,3 l",969 kg,50 l,"0,0 s"

In [6]:
df.gear.value_counts()

Manual                             6482
Automática secuencial              2637
Automática continua                 377
Automática                          334
Directo, sin caja de cambios         96
Automática continua, secuencial      55
Manual automatizada                  18
Name: gear, dtype: int64

In [7]:
df = df.rename({'gear': 'gearbox'}, axis=1)
df['gearbox'] = df.gearbox.str.replace('Manual automatizada', 'Manual')\
                            .str.replace('Automática continua, secuencial', 'Automatic')\
                            .str.replace('Directo, sin caja de cambios', 'Direct')\
                            .str.replace('Automática secuencial', 'Automatic')\
                            .str.replace('Automática continua', 'Automatic')\
                            .str.replace('Automática', 'Automatic')
df.gearbox.value_counts()

Manual       6500
Automatic    3403
Direct         96
Name: gearbox, dtype: int64

In [8]:
df.doors.value_counts()

5 puertas    7735
4 puertas    1417
3 puertas     516
2 puertas     329
0 puertas       2
Name: doors, dtype: int64

In [9]:
df[df.doors == '0 puertas']

,title,price,year,kms,city,gearbox,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
3542,Renault Twizy Life 80,4215,2017,7529,"17 cv en Coruña, A",Automatic,0 puertas,2,17 cv,Azul,...,234 cm,124 cm,0 l,80 km/h,"0,0 l","0,0 l","0,0 l",473 kg,0 l,"0,0 s"
4935,Renault Twizy Life 80 Flexi,3900,2012,62403,17 cv en Malaga,Direct,0 puertas,2,17 cv,Negro,...,234 cm,124 cm,0 l,80 km/h,"0,0 l","0,0 l","0,0 l",473 kg,0 l,"0,0 s"

The car above actually has 2 doors as we can see in the attached image. Therefore, the zero will be replaced with a 2

![img](https://movilidadelectrica.com/wp-content/uploads/2018/02/CarsharingTwizy.jpg)

In [10]:
df['doors'] = df.doors.str[0].str.replace('0', '2')
df.doors.value_counts()

5    7735
4    1417
3     516
2     331
Name: doors, dtype: int64

In [11]:
df['power'] = df.power.str.replace(' cv', '')
df['co2_emiss'] = df.co2_emiss.str.replace(' gr/m', '')
df['height'] = df.height.str.replace(' cm', '')
df['length'] = df.length.str.replace(' cm', '')
df['width'] = df.width.str.replace(' cm', '')
df[['trunk_vol']] = df.trunk_vol.str.replace(' l', '').str.replace('.', '', regex=False)
df['max_speed'] = df.max_speed.str.replace(' km/h', '')
df['urban_cons'] = df.urban_cons.str.replace(' l', '').str.replace(',', '', regex=False)
df['xtrurban_cons'] = df.xtrurban_cons.str.replace(' l', '').str.replace(',', '', regex=False)
df['mixed_cons'] = df.mixed_cons.str.replace(' l', '').str.replace(',', '', regex=False)
df['weight'] = df.weight.str.replace(' kg', '').str.replace('.', '', regex=False)
df['tank_vol'] = df.tank_vol.str.replace(' l', '')
df['acceleration'] = df.width.str.replace(' s', '').str.replace(',', '', regex=False)
df.head()

,title,price,year,kms,city,gearbox,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
0,Toyota Yaris Hsd 1.5 City,9500,2016,40000,100 cv en Madrid,Automatic,5,5,100,Blanco,...,389,170,286,165,31,33,33,1025,36,170
1,Mercedes Clase A A 35 Amg 4matic+ 7g-dct,43890,2019,24000,306 cv en Salamanca,Automatic,5,5,306,Blanco,...,444,180,370,250,93,61,73,1555,51,180
2,Mercedes Clase A A 250e 8g-dct,35900,2020,1500,218 cv en Tenerife,Automatic,5,5,218,Gris,...,442,180,310,235,00,00,14,1680,35,180
3,Volkswagen Polo 1.0 Tsi Sport 70kw,8990,2017,53000,"95 cv en Palmas, Las",Manual,5,5,95,Blanco,...,405,175,355,187,55,40,46,1145,40,175
4,Dacia Sandero 1.0 Ambiance 55kw,5990,2018,33600,"75 cv en Palmas, Las",Manual,5,5,75,Blanco,...,406,173,320,0,68,37,53,969,50,173

In [12]:
### Cleaning cities column ###
# Extract last two elements from the list. Reverse the order
# Concat list in a string. Deleting unnecessary strings
# Empty cities replaced by Unknown
# Dealing with exceptions

df['city'] = df.city.str.split(' ').str[-2:].str[::-1]\
                    .map(' '.join).str.replace(' en', '').str.replace(',', '', regex=False)\
                    .str.replace(r'(cv.*)', 'Unknown', regex=True)\
                    .str.replace('Real Ciudad', 'Ciudad Real').str.replace('Balears Illes', 'Baleares')

df.head()

,title,price,year,kms,city,gearbox,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
0,Toyota Yaris Hsd 1.5 City,9500,2016,40000,Madrid,Automatic,5,5,100,Blanco,...,389,170,286,165,31,33,33,1025,36,170
1,Mercedes Clase A A 35 Amg 4matic+ 7g-dct,43890,2019,24000,Salamanca,Automatic,5,5,306,Blanco,...,444,180,370,250,93,61,73,1555,51,180
2,Mercedes Clase A A 250e 8g-dct,35900,2020,1500,Tenerife,Automatic,5,5,218,Gris,...,442,180,310,235,00,00,14,1680,35,180
3,Volkswagen Polo 1.0 Tsi Sport 70kw,8990,2017,53000,Las Palmas,Manual,5,5,95,Blanco,...,405,175,355,187,55,40,46,1145,40,175
4,Dacia Sandero 1.0 Ambiance 55kw,5990,2018,33600,Las Palmas,Manual,5,5,75,Blanco,...,406,173,320,0,68,37,53,969,50,173

In [13]:
df['warranty'] = df.warranty.str.replace('SÍ', 'YES').replace('No', 'NO')
df.warranty.value_counts()

YES    9994
NO        5
Name: warranty, dtype: int64

In [14]:
df['dealer'] = df.dealer.str.replace('Profesional', 'Professional').replace('Particular', 'Individual')
df.dealer.value_counts()

Professional    9994
Individual         5
Name: dealer, dtype: int64

In [15]:
df['fuel_type'] = df.fuel_type.str.replace('Gasolina', 'Gasoline')\
                                    .replace('Eléctrico', 'Electric')\
                                    .replace('Híbrido', 'Hybrid')
df.fuel_type.value_counts()

Diesel      5460
Gasoline    3547
Hybrid       741
Electric     251
Name: fuel_type, dtype: int64

In [16]:
# Conditional lists
long_brands = ['Land Rover', 'Aston Martin', 'Alfa Romeo', 'Mercedes Amg']
long_models = ['Coupé', 'Serie', 'Clase', 'Grand', 'Grande', 'Santa', 'Glory', 'Model', 'Xsara', 'Pt',
               'Is', 'Es', 'Ct', 'Rx', 'Nx', 'Ux', 'Rc', 'Gs', 'Ls'] # Lexus

# regex expression needed to remove duplicated words in titles:
# \b        # word boundary
# (\w+)     # 1st capture group of a single word
# ( 
# \s+       # 1 or more spaces
# \1        # reference to first group 
# )+        # one or more repeats
# \b
df['title'] = df['title'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1', regex=True)

# Excep: Volkswagen Up contains '!'
df['title'] = df.title.str.replace('!', '')

# Excep: E Advance
df['title'] = df.title.str.replace('E Honda', 'E-Advance')

# Splitting columns to conform both brands & models
df[['brand', 'aux_1', 'aux_2', 'aux_3']] = df.title.str.split(' ', 3, expand=True)

# Excep: Ds
df['brand'] = df.brand.str.replace('Ds', 'Citroen')

# Aux columns
df['brand_long'] = df.brand + ' ' + df.aux_1
df['model_long'] = df.aux_1 + ' ' + df.aux_2
df['model'] = df['aux_1']

df.loc[df.brand_long.isin(long_brands), 'brand'] = df['brand_long']
df.loc[df.brand_long.isin(long_brands), 'model'] = df['aux_2']

df.loc[df.aux_1.isin(long_models), 'model'] = df['model_long']

# Deleting columns
df.drop(['aux_1', 'aux_2', 'aux_3', 'brand_long', 'model_long'], axis=1, inplace=True)

# Dealing with Exceptions
df['model'] = df.model.str.replace('Grande ', '') # FIAT: 'Grande Punto' evolved to 'Punto'
df['model'] = df.model.str.replace('1.6i', 'Coupé', regex=False) # FIAT: 'Grande Punto' evolved to 'Punto'

df.head()

,title,price,year,kms,city,gearbox,doors,seats,power,color,...,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration,brand,model
0,Toyota Yaris Hsd 1.5 City,9500,2016,40000,Madrid,Automatic,5,5,100,Blanco,...,286,165,31,33,33,1025,36,170,Toyota,Yaris
1,Mercedes Clase A 35 Amg 4matic+ 7g-dct,43890,2019,24000,Salamanca,Automatic,5,5,306,Blanco,...,370,250,93,61,73,1555,51,180,Mercedes,Clase A
2,Mercedes Clase A 250e 8g-dct,35900,2020,1500,Tenerife,Automatic,5,5,218,Gris,...,310,235,00,00,14,1680,35,180,Mercedes,Clase A
3,Volkswagen Polo 1.0 Tsi Sport 70kw,8990,2017,53000,Las Palmas,Manual,5,5,95,Blanco,...,355,187,55,40,46,1145,40,175,Volkswagen,Polo
4,Dacia Sandero 1.0 Ambiance 55kw,5990,2018,33600,Las Palmas,Manual,5,5,75,Blanco,...,320,0,68,37,53,969,50,173,Dacia,Sandero

In [17]:
# Creating a dictionary for the chassis
es_chassis = list(df.chassis.unique())
en_chassis = ['Sedan', 'Offroad', 'Stationwagon', 'Coupe', 'Van', 'Van', 'Minivan', 'Combi', 'Roadster', 'Van', 'Roadster', 'Pickup', 'Pickup', 'Van']
chassis_dict = dict(zip(es_chassis, en_chassis))

for es, en in chassis_dict.items():
    df['chassis'] = df.chassis.str.replace(es, en)
    
df.chassis.value_counts()

Sedan               4321
Offroad             3016
Minivan              850
Stationwagon         781
Coupe                367
Van                  262
Combi                205
Roadster             165
Pickup                23
Van Doble Cabina       9
Name: chassis, dtype: int64

In [18]:
df.color.dropna().value_counts().head(15)

Blanco         3035
Gris           1888
Negro          1452
Azul           1073
Rojo            700
Gris plata      176
Marrón          161
Plateado         94
Verde            92
Beige            91
Azul marino      84
Naranja          76
Plata            61
Amarillo         41
Gris oscuro      36
Name: color, dtype: int64

In [19]:
list_numbers = [str(x) for x in list(range(0, 10))]
dict_colors = {'BLANCO': 'WHITE', 'BLANC': 'WHITE', 'BIANCO': 'BLANCO', 'ALPINWEISS': 'WHITE',
               'GRIS': 'GREY', 'GRAY': 'GREY',
               'NEGRO': 'BLACK',
               'AZUL': 'BLUE',
               'ROJO': 'RED', 'GRANATE': 'RED', 'BURDEOS': 'RED',
               'PLATA': 'SILVER', 'PLATEADO': 'SILVER',
               'MARRÓN': 'BROWN', 'MARRON': 'BROWN',
               'VERDE': 'GREEN',
               'BEIGE': 'BEIGE',
               'AZUL MARINO': 'NAVY BLUE',
               'NARANJA': 'ORANGE',
               'AMARILLO': 'YELLOW',
               'BRONCE': 'BRONZE',
               'VIOLETA': 'PURPLE', 'MORADO': 'PURPLE',
               'ROSA': 'PINK',
               'OTRO': 'OTHER'}

In [20]:
colors = sorted(df.color.dropna().unique())
colors_up = [c.upper() for c in colors]
colors_up

['5',
 'ACID YELLOW',
 'ALPINWEISS (SÓLIDO)',
 'ALPINWEISS (SÓLIDO)',
 'AMARILLO',
 'ARCTIC WHITE',
 'ARTIC WHITE',
 'AURORA BLACK P',
 'AURORA BLACK PEARL (METALIZADO',
 'AURORA BLACK PEARL P',
 'AZ DESERT',
 'AZUL',
 'AZUL ACAPULCO',
 'AZUL ATLANTICO',
 'AZUL BRILLANTE METALIZADO',
 'AZUL BÁLTICO',
 'AZUL BÁLTICO (SÓLIDO)',
 'AZUL CALVI',
 'AZUL CAVANISTA',
 'AZUL CAVANSITA',
 'AZUL CAVANSITA METALIZADO',
 'AZUL CLARO',
 'AZUL COBALTO',
 'AZUL DENIM',
 'AZUL DENIM METALIZADO',
 'AZUL DESERT ISLAND',
 'AZUL DI PINTO',
 'AZUL DIPINTO DI BLU (METALIZAD',
 'AZUL ESMERALDA',
 'AZUL FILAMENTO',
 'AZUL FIRMAMENTO METALIZADO NEG',
 'AZUL FLAME M',
 'AZUL ICELAND (METALIZADO)',
 'AZUL IMPACT (METALIZADA)',
 'AZUL IMPERIAL',
 'AZUL JETSET',
 'AZUL LUZ DE LUNA METALIZADO',
 'AZUL MAGNETIC',
 'AZUL MARINO',
 'AZUL MEDITERRANEO',
 'AZUL MEDITERRANEO (METALIZADO)',
 'AZUL MISANO',
 'AZUL MISTERY/NEGRO',
 'AZUL NAVARRA METALIZADO',
 'AZUL NOCHE (METALIZADO)',
 'AZUL OASIS',
 'AZUL OASIS (METALIZADO)',
 'AZUL OSCURO',
 'AZUL RACE METALIZADO',
 'AZUL RAVENNA',
 'AZUL STARLIGHT METALIZADO',
 'AZUL TORMENTA (METALIZADO)',
 'AZUL ULTRAMAR METALIZADO',
 'AZUL VIOLETA METALIZADO',
 'AZUL VOLGA',
 'AZULTORME',
 'B',
 'BANQUIES BLANCO SÓLIDO',
 'BEIGE',
 'BEIGE CLARO',
 'BEIGE SABLE',
 'BIANCO GHIACCIO (TRICAPA)',
 'BITONO AZUL NEBULA Y TECH',
 'BL PLATIN',
 'BLACK PEARL',
 'BLACK SAPPHIRE (METALIZADO)',
 'BLAN METR',
 'BLANC',
 'BLANCA',
 'BLANCO',
 'BLANCO (PERLADO)',
 'BLANCO (SUAVE)',
 'BLANCO (SÓLIDO)',
 'BLANCO ALFA (SÓLIDO EXTRA)',
 'BLANCO ALPINE',
 'BLANCO ALPINO',
 'BLANCO ALPINO (BRILLANTE)',
 'BLANCO ALPINO (SÓLIDO)',
 'BLANCO ARTICO',
 'BLANCO BANQUIS',
 'BLANCO BANQUISE',
 'BLANCO BRILLANTE',
 'BLANCO CANDY',
 'BLANCO CASSA',
 'BLANCO CIRRO',
 'BLANCO CLASSIC',
 'BLANCO CURTAIN',
 'BLANCO DIGITAL',
 'BLANCO DIGITAL METALIZADO',
 'BLANCO GELATO',
 'BLANCO GELATO (PASTEL)',
 'BLANCO GELATO (SÓLIDO)',
 'BLANCO GLACIAR',
 'BLANCO GLACIAR (METALIZADO)',
 'BLANCO GLACIAR (OPACO)',
 'BLANCO GLACIAR METALIZADO',
 'BLANCO GLACIAR METALIZADO NEGR',
 'BLANCO IBIS',
 'BLANCO JADE',
 'BLANCO METRÓPOLIS METALIZADA P',
 'BLANCO MINERAL GRIS',
 'BLANCO NATURAL',
 'BLANCO ORQUIDEA PERLADO',
 'BLANCO PERLA NACARADO',
 'BLANCO PERLADO',
 'BLANCO PERLADO (METALIZADO)',
 'BLANCO PERLADO (PERLADO)',
 'BLANCO PERLADO METALIZADO',
 'BLANCO PLATINO (PERL)',
 'BLANCO PLATINUM',
 'BLANCO POLAR',
 'BLANCO POLAR - PINTURA UN',
 'BLANCO PURO',
 'BLANCO PURO (ESPECIAL)',
 'BLANCO S?LIDO',
 'BLANCO SILKY',
 'BLANCO SONIC',
 'BLANCO SUPERIOR',
 'BLANCO SÓLIDO',
 'BLANCO TAFFETA',
 'BLANCO ÁRTICO',
 'BLANCO/NEGRO',
 'BLAZING RED',
 'BLEU POLAIRE',
 'BLUE FLAME (METALIZADO)',
 'BLUE META',
 'BORDEAUX OPERA',
 'BORDEAUX OPERA (METALIZADO)',
 'BRITISH RACING GREEN IV METALI',
 'BRONCE',
 'BRONCE CHESTNUT METALIZADO',
 'BRONCE COFFEE',
 'BRONCE MAGNETICO',
 'BRONCE MAGNÉTICO (METALIZADO)',
 'BURDEOS',
 'CAESIUM BLUE',
 'CALDERA RED',
 'CARBONSCHWARZ METALIZADO',
 'CARPATIAN GREY',
 'CASSA WHITE',
 'CASSA WHITE (SÓLIDO)',
 'CELESTIAL SILVER',
 'CFRDE TRACK RED S',
 'CHAMPAGNE',
 'CHAMPION BLUE',
 'CHILI RED SÓLIDA',
 'CLARO GRIGIO METALIZADO',
 'CLEAR WHITE',
 'CLEAR WHITE (SÓLIDO)',
 'CLEAR WHITE S',
 'COSMO BLUE',
 'CRISTAL PREMIUM RED',
 'DARK BLUE',
 'DARK PENTA METAL',
 'DARK PENTA METAL M',
 'DEEP CERULEAN BLUE',
 'DEEP CRYSTAL BLUE MICA',
 'DENIM BLUE C723E',
 'DESIGNO BLANCO DIAMANTE',
 'DEST/ISLD',
 'DOLOMITBRAUN METALLIC',
 'DORADO',
 'EIGER GREY',
 'ENGINE RED',
 'FIERY RED',
 'FROZEN WH',
 'GALAXY GREY',
 'GLACIERSILBER (METALIZADO)',
 'GR',
 'GRANATE',
 'GRIS',
 'GRIS / PLATA',
 'GRIS ACERO',
 'GRIS ACIER',
 'GRIS AMAZONITE',
 'GRIS ARGENTO (METALIZADO)',
 'GRIS ARTENSE',
 'GRIS ARTENSE/NEGRO',
 'GRIS BÁLTICO',
 'GRIS CANNA DI FUCILE',
 'GRIS CASIOPEA (METALIZADO)',
 'GRIS CLARO',
 'GRIS COLOSSEO',
 'GRIS CRONOS',
 'GRIS CRONOS METALIZADO',
 'GRIS CUARZO (METALIZADO)',
 'GRIS DAYTONA',
 'GRIS DAYTONA EFECTO PERLA',
 'GRIS DESIGNO',
 'GRIS GLACIER',
 'GRIS GRAFITO',
 'GRIS GRAFITO (METALIZADO)',
 'GRIS GRAFITO METALIZADO',
 'GRIS GRAFITO METALIZADO O',
 'GRIS GRANITO',
 'GRIS HIMALAYA',
 'GRIS INDIO',
 'GRIS INDIO METALIZADO',
 'GRIS INDY METALIZADO',
 'GRIS MAESTRO (METALIZADO)',
 'GRIS MAGNETIC',
 'GRIS MAGNETIC (FASHION)',
 'GRIS MAGNETIC (METALIZADO)',
 'GRIS MAGNETIC METALIZADA FASHI',
 'GRIS MEDIO METALIZADO',
 'GRIS METALIZADO',
 'GRIS MODA',
 'GRIS MONTAÑA',
 'GRIS MONTAÑA (METALIZADO)',
 'GRIS MONTAÑA METALIZADO',
 'GRIS OSCURO',
 'GRIS OSCURO MET.',
 'GRIS OSCURO METALIZADO',
 'GRIS PEDERNAL',
 'GRIS PEDERNAL METALIZADO',
 'GRIS PLATA',
 'GRIS PLATINIUM',
 'GRIS PLATINO',
 'GRIS PLATINO (METALIZADO)',
 'GRIS PLATINO + TECHO NEGRO (ME',
 'GRIS PLATINO PI',
 'GRIS PLATINUM',
 'GRIS PLOMO',
 'GRIS PULIDO METALIZADO',
 'GRIS RODIUM',
 'GRIS SELENITA',
 'GRIS SELENITA METALIZADO',
 'GRIS SILVERSTONE (METALIZADO)',
 'GRIS SPARKLING',
 'GRIS TECHNO (METALIZADA PLUS)',
 'GRIS TENORITA',
 'GRIS TENORITA METALIZADO',
 'GRIS TITANIUM',
 'GRIS VESUBIO',
 'GRIS VESUVIO',
 'GRIS VESUVIO (METALIZADO)',
 'GRIS-NEGRO',
 'GRIS/PLATA',
 'H4H4 - MARRÓN CARTAGO METALIZA',
 'IMPERIALBLAU, EFECTO DE BRILLO',
 'INDUS SILVER',
 'INFRA RED (METALIZADO)',
 'IRON GRAY',
 'IRON GRAY (PERLADO)',
 'ISLAND BLUE (METALIZADA)',
 'JET BLACK MICA',
 'KOSMOSSCHWARZ - METALLICL',
 'KWE BLANC NACRE',
 'LAKE SILVER',
 'LIGHT WHITE (SÓLIDA)',
 'LUNAR SILVER',
 'LUNAR SILVER M',
 'MAGNETIC',
 'MAGNETICO',
 'MAGNÉTICO (METALIZADO)',
 'MANHATTAN',
 'MARINA BLUE (METALIZADO)',
 'MARRON',
 'MARRON DOLOMITA',
 'MARRÓN DOLOMITA',
 'MARRÓN',
 'MARRÓN VISÓN (METALIZADA)',
 'MINERALGRAU (METALIZADO)',
 'MINERALWEISS METALIZADO',
 'MOONDUST',
 'MOONWALK GREY (METALIZADA)',
 'MORADO BOHEME',
 'MOST YELLOW (METALIZADO) / AUR',
 'NARANJA',
 'NARANJA ATAKAMA (METALIZADO)',
 'NARANJA GLOW (METALIZADO)',
 'NARANJA SPITFIRE',
 'NARANJA VALENCIA',
 'NEGRO',
 'NEGRO AGATE',
 'NEGRO AGATE BLK',
 'NEGRO ANTRACITA',
 'NEGRO AZABACHE',
 'NEGRO BRILLANTE',
 'NEGRO BRILLANTE (METALIZADO)',
 'NEGRO C019E',
 'NEGRO CARBÓN',
 'NEGRO CINEMA (METALIZADO)',
 'NEGRO COSMOS',
 'NEGRO COSMOS (METALIZADO)',
 'NEGRO COSMOS METALIZADO',
 'NEGRO CRISTAL',
 'NEGRO CRISTAL PERLADO',
 'NEGRO DIAMOND',
 'NEGRO GRAPHITE',
 'NEGRO JET',
 'NEGRO JET METALIZADO',
 'NEGRO KRAKATOA C513CE',
 'NEGRO METALIZADO',
 'NEGRO MIDNIGHT',
 'NEGRO MIDNIGHT (METALIZADO)',
 'NEGRO MINERAL',
 'NEGRO MITO METALIZADO',
 'NEGRO NOCHE',
 'NEGRO OBSIDIANA',
 'NEGRO OBSIDIANA METALIZADO',
 'NEGRO OBSIDIANO',
 'NEGRO ONIX',
 'NEGRO PERLA NERA CMETALIZADOE',
 'NEGRO PERLADO',
 'NEGRO PROFUNDO (EFECTO PERLA)',
 'NEGRO SHADOW (METALIZADA)',
 'NEGRO SPORT (METALIZADO)',
 'NEGRO SÓLIDO',
 'NEGRO VULCANO',
 'NEGRO ZAINO',
 'NEGRO+TECHO PLATA',
 'NEGROSHAD',
 'NEW INFRA RED',
 'NEW INFRARED',
 'NINGÚNA',
 'NUEVO GRIS/NEGRO',
 'ORANGE FUSION',
 'ORANGE FUSION (METALIZADO)',
 'ORO',
 'OTRO',
 'PANGEA GREEN',
 'PERLA',
 'PERLA SABBIA',
 'PERLA SABBIA (METALIZADO)',
 'PHYTONICBLAU (METALIZADO)',
 'PINTURA METALIZADA - PLAT',
 'PINTURA METALIZADA MINERALGRAU',
 'PINTURA METALIZADA MISANO BLAU',
 'PINTURA MICATALIZADA',
 'PINTURA SÓLIDA ALPINWEISS',
 'PINTURA SÓLIDA CAPPARISWEISS CO',
 'PINTURA SÓLIDA SCHWARZ',
 'PLA SOLAR',
 'PLATA',
 'PLATA ALASKA',
 'PLATA BLADE',
 'PLATA BLADE (METALIZADO)',
 'PLATA BRILLANTE',
 'PLATA BRILLANTE (METALIZADO)',
 'PLATA DIAMANTE (METALIZADO)',
 'PLATA IRIDIO',
 'PLATA IRIDIO METALIZADO',
 'PLATA LUNAR METALIZADO',
 'PLATA METALIZADO',
 'PLATA MOJAVE',
 'PLATA PERLA',
 'PLATA PERLA MOONDUST (METALIZA',
 'PLATA TUGSTENO',
 'PLATEADO',
 'PLATINIUM WHITE',
 'PLATINUM SILVER',
 'POLAR WHITE',
 'POLAR WHITE (SÓLIDO)',
 'PULSE RED',
 'QUANTUM YELLOW',
 'RACE RED',
 'ROJ LUCID',
 'ROJO',
 'ROJO ALFA',
 'ROJO BURDEOS METALIZADO',
 'ROJO CARMIN',
 'ROJO COLORADO',
 'ROJO CORALLO',
 'ROJO CORALLO (SÓLIDO)',
 'ROJO DIAMOND',
 'ROJO ELIXIR',
 'ROJO EMOCIÓN',
 'ROJO FUSION / TECHO NEGRO META',
 'ROJO INCANDESCENTE',
 'ROJO INTENSO',
 'ROJO JUPITER',
 'ROJO JÃºPITER',
 'ROJO JÚPITER',
 'ROJO LINE',
 'ROJO LUCID',
 'ROJO LUCID TRICAPA',
 'ROJO MISANO EFECTO PERLA GRIS',
 'ROJO MISANO EFECTO PERLA NEGRO',
 'ROJO OSCURO',
 'ROJO PASION',
 'ROJO PASSIONE',
 'ROJO RACE (SÓLIDO)',
 'ROJO RACING',
 'ROJO RALLY',
 'ROJO RUBI',
 'ROJO SPORT',
 'ROJO TANGO',
 'ROJO TANGO METALIZADO',
 'ROJO TOKIO',
 'ROSA',
 'ROSSO',
 'ROUGE ELIXIR',
 'ROYAL BURGUNDY RED CON EFECTO',
 'RUNWAY RED',
 'RUNWAY RED M',
 'SAPHIRSCHWARZ (METALIZADO)',
 'SCHWARZ (SÓLIDO)',
 'SHINY RED',
 'SHINY RED (METALIZADO)',
 'SNOW PEARL WHITE',
 'SNOWFLAKE WHITE PEARL',
 'SPARKLING BROWN (METALIZADO)',
 'SPARKLING SILVER',
 'STARGAZING BLUE',
 'SUPER ROJO',
 'TEAL',
 'THUNDER GREYC728E',
 'TITANIUN',
 'TOMATO RED',
 'VARIOS',
 'VERDE',
 'VERDE AGUA',
 'VERDE LATTE MENTA',
 'VERDE LATTEMENTA',
 'VERDE LATTEMENTA (SÓLIDO)',
 'VERDE LIMA METALIZADO',
 'VERDE ORQUÍDEA',
 'VERDE OSCURO',
 'VIOLETA',
 'VOLCANIC ORANGE',
 'VOLTAIC BLUE',
 'WHITE CREAM',
 'BLANCO PURO',
 'GRIS INDY METALIZADO']

In [21]:
# Remove numbers from colors
df.loc[df.color.isin(list_numbers), 'color'] = 'OTHER'

# Assigning 'OTHER' to empty colors
df.loc[df.color.isna(), 'color'] = 'OTHER'

# Transforming color column to upper
df['color'] = [c.upper() for c in df.color]

# Stripping colors
df['color'] = df.color.str.strip()

# Step 1: Translating colors into English & simplifying colors
for es_c, en_c in dict_colors.items():
    df.loc[df.color.str.contains(es_c), 'color'] = en_c
    df.loc[df.color.str.contains(en_c), 'color'] = en_c
    
# Applying 'OTHER' to complex colors
en_colors = list(dict_colors.values())
df.loc[~df.color.isin(en_colors), 'color'] = 'OTHER'

# Step 2: Translating colors into English & simplifying colors
for es_c, en_c in dict_colors.items():
    df.loc[df.color.str.contains(es_c), 'color'] = en_c
    df.loc[df.color.str.contains(en_c), 'color'] = en_c

df.head()

,title,price,year,kms,city,gearbox,doors,seats,power,color,...,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration,brand,model
0,Toyota Yaris Hsd 1.5 City,9500,2016,40000,Madrid,Automatic,5,5,100,WHITE,...,286,165,31,33,33,1025,36,170,Toyota,Yaris
1,Mercedes Clase A 35 Amg 4matic+ 7g-dct,43890,2019,24000,Salamanca,Automatic,5,5,306,WHITE,...,370,250,93,61,73,1555,51,180,Mercedes,Clase A
2,Mercedes Clase A 250e 8g-dct,35900,2020,1500,Tenerife,Automatic,5,5,218,GREY,...,310,235,00,00,14,1680,35,180,Mercedes,Clase A
3,Volkswagen Polo 1.0 Tsi Sport 70kw,8990,2017,53000,Las Palmas,Manual,5,5,95,WHITE,...,355,187,55,40,46,1145,40,175,Volkswagen,Polo
4,Dacia Sandero 1.0 Ambiance 55kw,5990,2018,33600,Las Palmas,Manual,5,5,75,WHITE,...,320,0,68,37,53,969,50,173,Dacia,Sandero

In [22]:
df.color.value_counts()

WHITE     3233
GREY      2304
BLACK     1544
BLUE      1250
RED        790
SILVER     200
BROWN      174
OTHER      158
GREEN      101
BEIGE       95
ORANGE      84
YELLOW      44
PURPLE      10
BRONZE      10
PINK         2
Name: color, dtype: int64